{% load static %}

<!DOCTYPE html>
<html lang="en">
	<head>
		<link rel="stylesheet" href="{% static 'Css/login.css' %}">
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Login MarketPlace</title>
	</head>
	<body>
		<h2>Proyecto Market Instructores</h2>
		<div class="container" id="container">
			<div class="form-container sign-up-container">
				<!-- el action debe coincidir con la ruta definida en el archivo urls.py -->
				<form action="/Usuarios/registro" method="POST"> 
					<h1>Crear Cuenta</h1>					
					{% csrf_token %}
					<input type="text" name="username" id="username" placeholder="Nombre de usuario" />
					<input type="text" name="first_name" id="first_name" placeholder="Nombres" />
					<input type="text" name="last_name" id="last_name" placeholder="Apellidos" />
					<input type="email" name="email" id="email" placeholder="Correo Electronico" />
					<input type="password" name="password" id="password" placeholder="Contraseña" />
					<button type="submit">Crear Usuario</button>
				</form>
			</div>
			<div class="form-container sign-in-container">
				<form action="" method="POST">
					{% csrf_token %}
					<h1>Ingresar al Sistema</h1>					
					<input type="text" name="username"  id="username" placeholder="Nombre de usuario" />
					<input type="password" name="password"  id="password" placeholder="Contraseña" />					
					<button type="submit">Ingresar</button>
				</form>
			</div>
			<div class="overlay-container">
				<div class="overlay">
					<div class="overlay-panel overlay-left">
						<h1>Welcome Back!</h1>
						<p>To keep connected with us please login with your personal info</p>
						<button class="ghost" id="signIn">Sign In</button>
					</div>
					<div class="overlay-panel overlay-right">
						<h1>Hello, Friend!</h1>
						<p>Enter your personal details and start journey with us</p>
						<button class="ghost" id="signUp">Sign Up</button>
					</div>
				</div>
			</div>
		</div>

		<footer>
			<p>
				Created with <i class="fa fa-heart"></i> by
				<a target="_blank" href="https://florin-pop.com">Florin Pop</a>
				- Read how I created this and how you can join the challenge
				<a target="_blank" href="https://www.florin-pop.com/blog/2019/03/double-slider-sign-in-up-form/">here</a>.
			</p>
		</footer>
		<script>
			const signUpButton = document.getElementById('signUp');
			const signInButton = document.getElementById('signIn');
			const container = document.getElementById('container');

			signUpButton.addEventListener('click', () => {
				container.classList.add("right-panel-active");
			});

			signInButton.addEventListener('click', () => {
				container.classList.remove("right-panel-active");
			});
		</script>
		
	</body>
</html>




