{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'Css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'Css/style.css' %}">
    <link rel="stylesheet" href="{% static 'Css/font-awesome.min.css' %}">
    
    <title>Proyecto MarketPlace</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" href="#"> Proyecto MarketPlace  <i class="fa fa-cc-paypal" aria-hidden="true"></i> </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="/" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Proveedor
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="/Proveedor/insertar">Insertar Proveedor</a></li>
                  <li><a class="dropdown-item" href="/Proveedor/listado">Mostrar Proveedores</a></li>
                  
                </ul>
              </li>

              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="/" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Productos
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="/Producto/insertar">Insertar Producto</a></li>
                  <li><a class="dropdown-item" href="/Producto/listado">Mostrar Productos</a></li>
                  
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </nav>

    
</body>
</html>
